@charset "UTF-8";

body { font-family: 'Noto Sans Japanese', sans-serif;
}

body{
  margin:0;
}

.title{
  font-size: 20px;
  font-weight: bold;
  color: #EF8853;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=submit]{
  color:#fff;
  background-color:#EF8853;
  font-size: 20px;
  text-align: center;
  width:150px;
  text-indent: 0em;
  cursor:pointer;
  height: 58px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
}

input[type=button]{
  color:#fff;
  background-color:#EF8853;
  font-size: 20px;
  text-align: center;
  width:150px;
  text-indent: 0em;
  cursor:pointer;
  height: 58px;
  border-radius: 5px;
}

input[type=submit]:hover{
  opacity: 0.8;
}

input[type=button]:hover{
  opacity: 0.8;
}*/



.site h1{
  margin:0;
}

.info2 span,.info3 span,.info4 span{
  color:#EF8853;
  font-weight: bold;
}


/*ヘッダーメニュー*/

/*ボックスレイアウト*/

/*.side img{
  max-width: 200px;
  height: auto;
}*/





/*カラー
青#305187;
緑#00B49D;
空色 #577FC0;
*/





/*photoGallery3(2列目)*/
/*.photoGallery3{
  width:100%;
  height: 100px;
  margin:0;
  padding:0;
  margin-top:20px;
}*/


.return{
  float: left;
  text-align: center;
  bottom:0;
  padding:20px 20px 20px 20px;
  background-color: #EF8853;
  width: 160px;
  color:#ffffff;
  border-radius: 5px;
  font-size:17px;
  font-weight: bold;
}
/*




/*コピーライト*/
.copyright p{
  color:#ffffff;
}



/*boxレイアウト*/
.boxA:after{
  content:"";
  display: block;
  clear:both;
}

.box1{
  float:left;
  width:auto;
}

.box2{
  float:right;
  width:auto;
}








/*フッターの形にする*/
.box6{
  background-color: #EF8853;
  padding-top:5px;
  padding-bottom: 5px;
  margin-top: 50px;
}

.boxA, .box6{
  padding-left:15px;
  padding-right: 15px;
}


/*ボックスの上下*/
.boxA{
  padding-top:20px;
  padding-bottom:10px;
}



/*全体の横幅を固定*/
.boxA-inner, .box6-inner{
  width:1140px;
  margin-left:auto;
  margin-right: auto;
}

/*boxAの下に羅線を挿入*/
.boxA{
  border-bottom:solid 2px #EF8853;
}

.boxB{
  margin-left:auto;
  margin-right: auto;
}

.boxB{
  width:1140px;
}

/*ボックスBで横並び*/
.boxB:after{
  content:"";
  display: block;
  clear:both;
}
